//Colors

$primary-color: #ff0101;
$secondary-color: #e60000;
$tertiary-color: #282d30;
$quaternary-color: #9b9eac;
$white: #fff;
$black: #000;

$back-red: #ff0000;
$back-red-title: #ff0101;
$back-blue: #4ab8ff;
$back-yellow: #fdcc0c;
$back-pink: #fd5181;

//Font Family

$roboto: "Roboto", sans-serif;

//Font Size

$xx-small: 0.625rem;
$x-small: 0.75rem;
$small: 1rem;
$mediumFont: 1.125rem;
$large: 1.25rem;
$x-large: 1.875rem;
$xx-large: 2rem;
$xxx-large: 3rem;

//Font Weight

$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400; /* normal */
$medium: 500;
$semi-bold: 600;
$bold: 700; /* bold */
$extra-bold: 800;
