/* normal */
/* bold */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#root {
  min-width: 1024px;
  margin: 0 auto;
}

.container {
  min-width: 1024px;
  min-height: 780px;
  height: auto;
  display: grid;
  grid-template-columns: 117px auto auto auto auto;
  grid-template-rows: repeat(6, auto);
}

.grid-item-1 {
  grid-area: header;
  grid-column: 1/-1;
  grid-row: 1/2;
}

.grid-item-2 {
  max-width: 117px;
  grid-column: 1/2;
  grid-row: 2/-1;
}

.grid-item-3 {
  max-width: 500px;
  margin: 30px 0 30px 30px;
  grid-column: 2/-1;
  grid-row: 2/3;
}

.grid-item-4 {
  margin: 0 30px 30px 30px;
  grid-column: 2/5;
  grid-row: 3/4;
}

.grid-item-5 {
  margin: 0 30px 30px 30px;
  grid-column: 2/3;
  grid-row: 4/5;
}

.grid-item-6 {
  margin: 0 30px 30px 0;
  grid-column: 3/4;
  grid-row: 4/5;
}

.grid-item-7 {
  margin: 0 30px 30px 0;
  grid-column: 4/5;
  grid-row: 4/5;
}

.grid-item-8 {
  margin-right: 90px;
  grid-column: 5/-1;
  grid-row: 3/-1;
}

.recharts-line {
  opacity: 0.5;
}

.recharts-cartesian-axis-tick {
  opacity: 0.5;
  font-size: 12px;
}

.recharts-cartesian-axis {
  max-width: 229px;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  height: 233px;
}

.error {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error__msg {
  margin-top: 100px;
  font-size: 48px;
  color: #ff0101;
}

.header {
  min-width: 1024px;
  min-height: 80px;
  background-color: #000;
  display: flex;
  align-items: center;
  align-self: flex-start;
}
.header-bloc {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 30px;
  /*
  Flex-basis, 
  Flex-grow  
  Flex-shrink*/
  flex: 1 1 30%;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 90px;
  flex: 3 1 70%;
}
.header-nav a:link,
.header-nav a:visited,
.header-nav a:hover,
.header-nav a:active {
  margin-right: 90px;
  font-size: 1.125rem;
  color: #fff;
  text-decoration: none;
}

.aside {
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
}
.aside__nav__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}
.aside__nav__container span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  min-width: 64px;
  min-height: 64px;
  background-color: #fff;
  border-radius: 5px;
}
.aside__nav__container span__nav__icon {
  padding: 1px;
  background-color: #fff;
  text-align: center;
}
.aside__copyright {
  transform: rotate(270deg);
  width: 200px;
  font-size: 12px;
  padding-left: 30px;
}

.banner--title {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 40px;
}
.banner--firstname {
  color: #ff0101;
}
.banner--message {
  font-size: 1.125rem;
  font-weight: 400;
}

.keyData {
  width: 90%;
  display: flex;
  justify-content: center;
  background-color: #fbfbfb;
  margin-bottom: 5px;
}
.keyData__bloc {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
}
.keyData__bloc span {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  min-height: 60px;
  border-radius: 5px;
}
.keyData__bloc span svg path {
  color: #ff0000;
}
.keyData__bloc-icon-carb {
  background-color: rgba(255, 0, 0, 0.1254901961);
}
.keyData__bloc-icon-prot {
  background-color: rgba(74, 183, 255, 0.1254901961);
}
.keyData__bloc-icon-glucid {
  background-color: rgba(253, 205, 12, 0.1254901961);
}
.keyData__bloc-icon-lipid {
  background-color: rgba(253, 81, 130, 0.1254901961);
}
.keyData__bloc-info {
  padding-left: 24px;
}
.keyData__bloc-info h2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.keyData__bloc-info p {
  font-size: medium;
  font-weight: 400;
  color: #74798c;
}

.keyData:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 1200px) {
  .keyData {
    margin-bottom: 30px;
  }
}
.barChart {
  background-color: #fbfbfb;
  min-width: 660px;
  position: relative;
  padding: 5px;
  border-radius: 5px;
}
.barChart__title {
  position: absolute;
  top: 10px;
  font-weight: 500;
  font-size: 15px;
  color: #20253a;
}

.custom__tooltip {
  background-color: #e60000;
  color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-weight: 500;
}
.custom__tooltip-label {
  padding: 0.8rem 0;
}
.custom__tooltip-cursor {
  position: absolute;
  height: 100%;
  font-size: 10px;
  text-align: center;
  font-weight: 500;
  padding: 1rem;
}
.custom__tooltip-cursor p {
  padding: 0.8rem 0;
}

.lineChartActivity {
  background-color: #e60000;
  border-radius: 5px;
  font-size: 14px;
}
.lineChartActivity__title {
  color: #ffffff;
  opacity: 0.5;
  font-weight: 500;
  padding: 30px 0 0;
}
.lineChartActivity__tooltip {
  background-color: #fff;
  color: #000;
  font-size: 8px;
  width: 35px;
  padding: 5px;
  text-align: center;
  font-weight: 500;
}

.radarChartActivity {
  background-color: #282d30;
  border-radius: 5px;
  font-size: 14px;
}

.recharts-polar-angle-axis-tick {
  font-size: 12px;
}

.radialBarChartActivity {
  position: relative;
  background-color: #fbfbfb;
  border-radius: 5px;
  font-size: 14px;
}
.radialBarChartActivity__mainTitle {
  position: absolute;
  top: 1.2vw;
  left: 2.5vw;
  width: 10vw;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #20253a;
}

.legend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.legend__titre {
  font-size: 26px;
  font-weight: bold;
}

.legend__titreSuite {
  font-size: 14px;
  padding-top: 5px;
  color: #74798c;
}

/*# sourceMappingURL=style.css.map */
