@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#root {
  max-width: 100vw;
  margin: 0 auto;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(14, 1fr);
}

.grid-item {
  min-width: 100px;
  min-height: 50px;
}

.grid-item-1 {
  grid-area: header;
  grid-column: 1/13;
  grid-row: 1/3;
}

.grid-item-2 {
  grid-column: 1/2;
  grid-row: 3/15;
  background-color: #000;
}

.grid-item-3 {
  grid-column: 2/13;
  grid-row: 3/6;
  background-color: lightpink;
}

.grid-item-4 {
  grid-column: 2/10;
  grid-row: 6/9;
  background-color: lightskyblue;
}

.grid-item-5 {
  grid-column: 2/5;
  grid-row: 9/15;
  background-color: lightslategray;
}

.grid-item-6 {
  grid-column: 5/8;
  grid-row: 9/15;
  background-color: lightsalmon;
}

.grid-item-7 {
  grid-column: 8/10;
  grid-row: 9/15;
  background-color: lime;
}

.grid-item-8 {
  grid-column: 10/13;
  grid-row: 6/9;
  background-color: blueviolet;
}

.grid-item-9 {
  grid-column: 10/13;
  grid-row: 9/12;
  background-color: lightseagreen;
}

.grid-item-10 {
  grid-column: 10/13;
  grid-row: 12/15;
  background-color: yellow;
}

/* normal */
/* bold */
.header {
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  align-self: flex-start;
}
.header-bloc {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 30px;
  /*
  Flex-basis, 
  Flex-grow  
  Flex-shrink*/
  flex: 1 1 30%;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  flex: 3 1 70%;
}
.header-nav a:link,
.header-nav a:visited,
.header-nav a:hover,
.header-nav a:active {
  margin-right: 90px;
  font-size: 1.125rem;
  color: #fff;
  text-decoration: none;
}

.aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #000;
}
.aside__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  gap: 20px;
  width: 80%;
}
.aside__nav span {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 64px;
  min-height: 64px;
  background-color: #fff;
  border-radius: 5px;
}
.aside__nav__icon {
  padding: 1px;
  background-color: #fff;
  text-align: center;
}
.aside__copyrigth {
  color: #fff;
  width: 18.75rem;
  margin-bottom: 180px;
}

.vertical-text {
  transform: rotate(270deg);
  font-size: 12px; /* Ajustez la taille de police selon vos besoins */
}

/*# sourceMappingURL=style.css.map */
